:root {
  --title-color: #282828;
  --primary-color: #307064;
  --secondary-color: #4b9c8e;
  --gray-opacity: rgba(220, 220, 220, 0.2);
  --form-gray: rgb(196, 196, 196);
  --fade-gray: rgba(220, 220, 220, 0.8);
  --gray-text: rgb(109, 109, 109);

  --font-full-hd: 22px;
  --font-desktop: 20px;
  --font-tablet: 18px;
  --font-mobile: 16px;
}
/* MAIN STYLES */
html {
  font-size: var(--font-desktop);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  width: 100%;
  max-width: 1440px;
  /* padding: 0 2rem; */
  overflow-x: hidden;
}

img {
  display: block;
}
button,
input {
  font-family: inherit;
}
button {
  border: none;
  font-size: 1rem;
  text-align: center;
}
a {
  text-decoration: none;
}
.padding__container {
  padding: 0 2rem;
}
.link {
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.link:hover {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}
/* NAVIGATION */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navigation__logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.navigation__logo-item {
  color: black;
  cursor: pointer;
}
.navigation__logo-img {
  max-height: 1.8rem;
  margin-right: 0.8rem;
}
.navigation__logo-text {
  font-size: 1rem;
  margin-right: 1rem;
  white-space: nowrap;
}
.navigation__items {
  padding-right: 2rem;
  white-space: nowrap;
}
.navigation__item {
  display: inline-block;
  list-style: none;
}
.navigation__item:not(:last-child) {
  margin-right: 1.5rem;
}

.navigation__link {
  color: black;
  font-size: 0.8rem;
  border: none;
}
/* BUTTONS STYLING */
.btn {
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
}
.btn__black {
  background-color: black;
  color: white;
}
.btn__main {
  color: white;
  background-color: var(--primary-color);
}
.btn__main:hover {
  background-color: var(--secondary-color);
}
.btn__show {
  width: 8rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.btn__show:hover {
  background-color: var(--primary-color);
}
.btn__project {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  font-size: 0.8rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.btn__project:hover {
  background-color: white;
  color: black;
}
.btn__send {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding: 1rem;
  position: relative;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
}
.btn__send:hover {
  background-color: var(--primary-color);
}
.btn__send:focus {
  outline: none;
}

/* HERO SECTION */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__text {
  min-width: 45%;
  padding-right: 2rem;
}
.header__img {
  height: 100%;
  background-color: gray;
}
.header__img img {
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 100%;
}

.header__title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.header__description {
  margin-bottom: 2rem;
}
.header__link {
  margin-top: 2rem;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.header__link:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* SECTION REUSED STYLE */
.section {
  /* position: relative; */
  padding-top: 5rem;
}
.section__header {
  text-align: center;
}
.section__title {
  font-size: 1rem;
  color: var(--title-color);
}
.section__subtitle {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.section__content {
  margin-top: 2.5rem;
  /* padding: 0 3rem; */
}
/* PERSON CARD REUSED */
.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
}
.person__img {
  border-radius: 50%;
  height: 100%;
  margin-right: 1rem;
}

.person__name {
  color: var(--primary-color);
}
.person__job {
  font-size: 0.8rem;
}

/* ABOUT SECTION */

.about__ceo {
  justify-content: flex-end;
}
.about__content > p:last-of-type {
  margin-bottom: 1.5rem;
}

/* Section PROJECT (divider) */
.section__project {
  width: 100%;
  padding-top: 0;
  margin-top: 5rem;
  position: relative;
}
.project__description-big {
  position: absolute;
  background-color: var(--fade-gray);
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.project--1 {
  top: 10%;
  left: 5%;
  min-width: 470px;
  width: 40vw;
  max-width: 570px;
}
.project--2 {
  top: 20%;
  left: 60%;
  width: 35vw;
  max-width: 530px;
}
.project--3 {
  top: 15%;
  left: 10%;
  min-width: 400px;
  width: 32vw;
  max-width: 450px;
}

.project__content-big {
  font-size: 0.8rem;
}
.project__img-big {
  width: 100%;
}
/* SECTION PROCESS */
.process__content {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.section__content-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section__content-icon {
  max-height: 3rem;
  margin-bottom: 1rem;
}

.step__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.step__description {
  font-size: 0.8rem;
}

.section__process {
  margin-bottom: 5rem;
}
/* SECTION CLIENTS */
/* .section__clients { */
/* height: 30rem; */
/* padding-top: 7rem;
  background-color: var(--fade-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 7rem;
  margin-top: 0; */
/* } */

/* .subtitle__clients-content {
  margin-top: 2rem;
} */
.client__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* animation: scroll 20s infinite linear;
  animation-delay: -10s; */
}
/* .client__content:hover {
  animation-play-state: paused;
} */
.client__content-img {
  width: 15%;
  /* animation: scroll 5s infinite linear; */
  /* animation-delay: -10s; */
}
/* .client__content-img:hover {
  transform: scale(1.3);
} */
.client__content-img > img {
  width: 100%;
  max-height: 3.5rem;
  object-fit: contain;
}
@keyframes scroll {
  0% {
    transform: translate(100%, 0);
  }
  90% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

/* SECTION PROJECTS */
.projects__content {
  text-align: center;
}
.project__content-1,
.project__content-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 200px 1rem 200px 1rem 200px;
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  -ms-flex-line-pack: center;
  align-content: center;
}

.project__content-2 {
  margin-top: 1rem;
}
.project__card {
  overflow: hidden;
  position: relative;
}
.project__card-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}
.project__card-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}
.project__card-5 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}
.project__card-6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.project__card-10 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}
.project__img {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.project__card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.project__card:hover .project__title,
.project__card:hover .btn__project {
  opacity: 100;
}
.project__card:hover .project__img {
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}
.project__title {
  font-size: 1.2rem;
  padding: 0.5rem;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  text-align: center;
}

/* TEAM SECTION */
.team__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.team__person {
  flex-direction: column;
  text-align: center;
  height: fit-content;
  width: 20%;
}

.team__person-img {
  height: 4rem;
}

/* SECTION FAQ */

.faq__question {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.faq__title {
  color: white;
  background-color: var(--title-color);
  margin-bottom: 0.3rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.expand__question {
  font-size: 1.2rem;
}
.faq__answer {
  padding: 0 1rem;
  height: 0;
  background-color: var(--gray-opacity);
  opacity: 0;
  -webkit-transition: all 0.9s;
  -o-transition: all 0s;
  transition: all 0.9s;
}
.faq__question:hover .faq__answer {
  height: 25vh;
  min-height: max-content;
  opacity: 100;
  padding: 1rem 1rem;
}
.faq__question:hover .faq__title {
  background-color: var(--primary-color);
}

/* CONTACTS */
input,
textarea {
  font-family: inherit;
  padding: 1rem;
}

.contact__form {
  position: relative;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  background-color: var(--form-gray);
  width: 90vw;
  min-width: 380px;
  max-width: 35rem;
  height: 30rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.first__name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 3.5rem;
}
input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
  border: 3px solid var(--secondary-color);
}
.last__name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  height: 3.5rem;
}
.email__field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  height: 3.5rem;
}
.message__field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  height: 7rem;
}

.contacts__data {
  /* height: 18rem; */
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--gray-text);
  font-size: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

/* FOOTER */
.footer {
  position: relative;
  background: url(./images/architecture-footer-1.jpg);
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  width: 100%;
  height: 15rem;
  /* height: 20rem; */
}
.footer__info {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__logo-img {
  max-height: 2rem;
  margin-right: 1rem;
}
.footer__logo-text {
  font-size: 1rem;
  white-space: nowrap;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer__contact {
  padding: 1vh 3vh;
  text-decoration: none;
  color: var(--primary-color);
}
.footer__background {
  width: 100%;
  opacity: 60%;
}
/* MODAL */
.modal__contact {
  width: 70rem;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: gray;
  opacity: 60%;
  -webkit-filter: blur(50%);
  filter: blur(50%);
  z-index: 999;
}

/* HELPERS */
.hidden {
  display: none;
}
/* RESPONSIVE */

/* Full HD */
@media screen and (min-width: 1441px) {
  html {
    font-size: var(--font-full-hd);
  }
  .team__persons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .team__person {
    flex-direction: column;
    text-align: center;
  }
}

/* Tablet */
@media screen and (max-width: 900px) {
  html {
    font-size: var(--font-tablet);
  }
  .hidden__tablet {
    display: none;
  }
  .team__person-img {
    height: 3.5rem;
  }

  .faq__question:hover .faq__answer {
    height: 9rem;
  }
  .footer__info {
    width: 60%;
  }
}

/* Mobile */
@media screen and (max-width: 450px) {
  html {
    font-size: var(--font-mobile);
  }
  .hidden__mobile {
    display: none;
  }
  .process__content {
    grid-template-columns: 1fr;
  }
  .team__content {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .team__person {
    width: 70%;
    flex-direction: row;
    text-align: left;
  }
  .footer__info {
    width: 70%;
  }
}
